<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>プレゼンテーション層作成</title>
</head>

<body>
    <h3>プレゼンテーション層作成(Spring特化)</h3>
    <h3>以下のコマンド実行後に「コード生成」</h3>
    <p>spring init -d=web --build=maven --package-name [パッケージ名] --name [プロジェクト名] --dependencies thymeleaf [プロジェクト名]</p>
    <p><a target="_blank" rel="noopener noreferrer" href="http://localhost:8080">このリンク踏んで起動</a></p>
    <h2 style="background-color: crimson;">抽象情報はDBなどに永続化すること。言語やフレームワークが変わった時にこの箇所は変更しないこと。</h2>
    <h2 style="background-color: greenyellow;">具象情報はテンプレートファイル化すること。言語やフレームワークが変わった時にこれを差し替えれば動作すること。</h2>
    <form action="{{ url_for('presentation') }}" method="POST" novalidate="novalidate">
        HTMLルート<input style="width:30%;" type="text" name="src_root_path" value="{{ form.src_root_path }}" /><br>
        Form, Controllerルート<input style="width:30%;" type="text" name="test_root_path" value="{{ form.test_root_path }}" /><br>
        <input type="submit" value="フレームワーク選択" />
        <select>
            <option value="spring">Spring</option>
            <option value="flask">Flask</option>
        </select><br>
        <input style="width:70%;" id="rows" type="text" name="rows" value="{{ rows }}" />
    </form>

    <div id="mytable"></div>
    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css">
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css">
    <script>
        var changed = function (instance, cell, x, y, value) {
            document.getElementById('rows').value = JSON.stringify(myTable.getData());
        }
        const myTable = jspreadsheet(document.getElementById('mytable'), {
            data: JSON.parse(document.getElementById('rows').value),
            onchange: changed,
            columns: [
                { type: 'text', title: '画面名', width: 300 , align: 'left'},
                { type: 'text', title: 'URL(基本GET)', width: 300 , align: 'left'},
                { type: 'text', title: 'クラス名(Form,Controller)', width: 300 , align: 'left'},
                { type: 'text', title: '機能:メソッド(ボタン毎かコントローラメソッド毎にするか)', width: 1000 , align: 'left'},
            ]
        });
    </script>
</body>

</html>