{% extends "common.html" %}
{% block title %}{{ entity.project_name }}{% endblock %}
{% block body %}
<h4>{{ entity.project_name }}</h4>
<ul>
    <li><a href="/project/{{ entity.id }}/domain">ドメイン層</a></li>
    <li><a href="/project/{{ entity.id }}/presentation">プレゼンテーション層</a></li>
    <li><a href="/project/{{ entity.id }}/application">アプリケーション層</a></li>
    <li><a href="/project/{{ entity.id }}/infrastructure">インフラストラクチャ層</a></li>
</ul>
<h4>同じテーブルを切り口を変えて見る</h4>
<p>DDDは見方なわけでマスタはむしろ画面とDB</p>
<ul>
    <li><a href="/project/{{ entity.id }}/screen">画面</a></li>
    <li><a href="/project/{{ entity.id }}/database">データベース</a></li>
</ul>
{% endblock %}