{% extends "common.html" %}
{% block title %}画面{% endblock %}
{% block body %}
<h3>画面名</h3>
<form action="{{ url_for('project_screen', project_id=project_id) }}" method="POST" novalidate="novalidate">
    <input type="submit" value="意味はないが削除ボタン" formaction="{{ url_for('project_screen_delete', project_id=project_id) }}"/><br>
    <input type="submit" value="エクスポート" formaction="{{ url_for('project_screen_export', project_id=project_id) }}"/>
    <select>
        <option value="csv">CSV</option>
        <option value="json">JSON</option>
    </select><br>
    <input style="width:70%;" id="rows" type="text" name="rows" value="{{ rows }}" />
</form>

<div id="mytable"></div>
<script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
<script src="https://jsuites.net/v4/jsuites.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css">
<link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css">
<script>
    var changed = function (instance, cell, x, y, value) {
        document.getElementById('rows').value = JSON.stringify(myTable.getData());
    }
    const myTable = jspreadsheet(document.getElementById('mytable'), {
        data: JSON.parse(document.getElementById('rows').value),
        onchange: changed,
        columns: [
            { type: 'text', title: '画面名', width: 300, align: 'left' },
            { type: 'text', title: 'URL(基本GET)', width: 300, align: 'left' },
            { type: 'text', title: 'クラス名(Form,Controller)', width: 300, align: 'left' },
            { type: 'text', title: '機能:メソッド(ボタン毎かコントローラメソッド毎にするか)', width: 1000, align: 'left' },
        ]
    });
</script>
{% endblock %}