{% extends "common.html" %}
{% block title %}プロジェクト一覧{% endblock %}
{% block body %}
<h4>プロジェクト一覧</h4>
<p>
    <li><a href="{{ url_for('project_register') }}">新規プロジェクト作成</a></li>
</p>
<style>
table, td, th {
border: 1px #000000 solid;
}
</style>
<table>
    <tr><td>ID</a></td><td>プロジェクト名</td><td>フレームワーク</td><td>言語</td></tr>
    {% for row in rows %}<tr><td><a href="{{ url_for('project_detail', id=row.id) }}">{{row.id}}</a></td><td>{{row.project_name}}</td><td>{{row.framework}}</td><td>{{row.language}}</td></tr>{% endfor %}
</table>
{% endblock %}
