{% extends "common.html" %}
{% block title %}新規プロジェクト作成{% endblock %}
{% block body %}
<form action="{{ url_for('project_register') }}" method="POST" novalidate="novalidate">
    <h2>新規プロジェクト作成</h2>
    <h4>プロジェクト情報を入力する</h4>
    <table>
        <tbody>
            <tr>
                <th>プロジェクト名</th>
                <td>
                    <input type="text" name="project_name" value="{{ form.project_name }}"/>
                </td>
            </tr>
            <tr>
                <th>言語</th>
                <td>
                    <select name="language">
                        <option value="py" {% if form.language == 'py' %}selected{% endif %}>Python</option>
                        <option value="java" {% if form.language == 'java' %}selected{% endif %}>Java</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>フレームワーク</th>
                <td>
                    <select name="framework">
                        <option value="spring" {% if form.framework == 'spring' %}selected{% endif %}>Spring</option>
                        <option value="flask" {% if form.framework == 'flask' %}selected{% endif %}>Flask</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <input type="submit" value="プロジェクト作成"><br>
</form>
<br>
{% endblock %}